<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>sbesh.io</title>
    <link rel="stylesheet" href="/static/site.css" media="screen" title="no title">
  </head>
  <body>
    {{{body}}}    
    <script type="text/javascript" src="/static/vue.js"></script>
    <script type="text/javascript" src="/static/web-animations.min.js"></script>
    <script type="text/javascript" src="/static/site.js"></script>
  </body>
</html>
