<!DOCTYPE html>
<header>
  <div id="icon">
    <div class="yellow"></div>
    <div class="blue"></div>
  </div>
</header>

<div id="control">
  <button id="go">Go</button>
  <button id="back">Back</button>
</div>

<div id="header" style="visibility:hidden">

</div>

<div id="body" style="visibility:hidden">

</div>

<footer>

</footer>
