*{
  box-sizing: border-box;
}
html,body{
  margin: 0;
  padding: 0;
  min-height:100vh;
  min-width:100vw;
}

header{
  padding:10px 20px;
  height:80px;
  text-align: center;
}
section{
  margin:40px 0 0 0;
  padding: 0 20px;
}

#control{
  position: absolute;
}

button{
  z-index: 10;
}

#header{
  height:100px;
  width:100%;
  background-color:#FFC400;
  border: 1px solid #FFAB00;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#body{
  height:500px;
  width:100%;
  background-color: #00B0FF;
  border: 1px solid #0091EA;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#icon{
  margin:20px auto 0 auto;
  max-width: 1336px;
  height: 100px;
  .yellow,.blue{
    display: inline-block;
    height:40px;
    width:80px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
  .yellow{
    background-color:#FFC400;
    border: 1px solid #FFAB00;
  }
  .blue{
    background-color: #00B0FF;
    border: 1px solid #0091EA;
  }
}
